.Booking-detail{
    padding: 6rem 0;
    background-color: var(--student-color);
}
.booking-details-content{
    gap: 4rem;
}



@media screen and (min-width: 768px){
    .booking-details-content{
        grid-template-columns: 40% 60%;
        gap: 0
    }
    .book-details-img{
        padding: 0 6rem 0 2rem;
    }
    .book-details-img img{
        max-width: 100%;
    }
}